/* Icon bar */
.icon-bar {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

/* Main body */
body {
    background-image: url("images/splash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.main {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 20% minmax(200px, 500px) auto;
    margin-left: 70px;
    width: 100vw;
    height: 100vh;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 10px;
    background-color: white;
    padding-top: 20px;
    margin-top: -10px;
}

.header-text {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -10px;
    background-color: white;
}

.splash-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
}

.splash-image > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.main-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    background-color: white;
    height: 100%;
    min-height: 0;
    width: 100%;
    align-self: baseline;
    padding-bottom: 20px;
}

.main-text p {
    margin-right: 5%;
}

h1 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

