/* Icon bar */
.icon-bar {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

/* Main body */
.home {
    background-image: url("images/splash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    max-width: 100%;
}

.portfolio {
    overflow-x: hidden;
}

.main {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 20% minmax(200px, 500px) auto;
    margin-left: 70px;
    width: 100vw;
    height: 100vh;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 10px;
    background-color: white;
    padding-top: 20px;
    margin-top: -10px;
}

.header-text {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: -10px;
    background-color: white;
}

.main-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: -1;
    text-align: center;
    background-color: white;
    height: 100%;
    min-height: 0;
    width: 100%;
    align-self: baseline;
    padding-bottom: 20px;
}

.main-text p {
    margin-right: 5%;
}

h1 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Portfolio cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    padding: 20px;
    grid-gap: 20px;
}

.grid-card {
    background-color: deeppink;
    color: #fff;
    border-radius: 10px;
    height: 250px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px #313131;
}

#slavbot {
    background-image: url(images/slavbot.jpg);
    background-position: center;
}

.grid-card .card-text {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-top: 200px;
    opacity: 0;
    visibility: hidden;
}

.grid-card:hover .card-text {
    margin-top: 100px;
    opacity: 1;
    visibility: visible;
}

.card-banner {
    background-color: #fff;
    color: #000;
    padding: 0px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10%;
    box-shadow: 0 5px 10px -5px #000;
}