body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: 'nav main';

  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Sidebar */

.sidebar {
  flex-direction: column;
  background-color: #555;
  text-align: center;
  grid-area: nav;
  width: auto;
}

.sidebar a {
  display: flex;
  font-size: 36px;
  color: white;
  padding: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

/* Main body */

.main-body {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.header {
  display: flex;
}

.header-text {
  padding-left: 10px;
}

.logo {
  padding: 10px;
}

.splash {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url('./images/splash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash > img {
  flex-wrap: wrap;
}

.body-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

h1 {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 40px;
}

h2 {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 30px;
}

h3 {
  font-family: 'Big Shoulders Text', cursive;
  font-size: 20px;
}

p,
ul {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

@media only screen and (max-width: 375px) {
  .mainContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'nav main';

    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .splash {
    display: none;
  }
}

/* Portfolio cards */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: deeppink;
  color: white;
  border-radius: 10px;
  height: 250px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 5px 10px -5px #313131;
}

.card-banner {
  background-color: white;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  box-shadow: 0 5px 10px -5px #000;
  margin-top: 10%;
}

.card .card-text {
  background-color: white;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-top: 200px;
  opacity: 0;
  visibility: hidden;
}

.card:hover .card-text {
  margin-top: 100px;
  opacity: 1;
  visibility: visible;
}

#slavbot {
  background-image: url(images/slavbot.jpg);
  background-position: center;
}
