.card {
  background-color: deeppink;
  border-radius: 10px;
  height: 15rem;
  width: 10rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 5px 10px -5px #e94560;
}

.title {
  margin-top: -100%;
  background-color: #0f3460;
  width: 100%;
  box-shadow: 0 5px 10px -5px #000;
}

.description {
  background-color: #0f3460;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  text-align: left;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
