.card {
  border-radius: 10px;
  height: 15rem;
  width: 10rem;
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0;
  background-color: #0f3460;
}

.title {
  margin-top: 20%;
  background-color: #0f3460;
  width: 100%;
  box-shadow: 0 5px 10px -5px #000;
}

.description {
  background-color: #0f3460;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  text-align: left;
  flex-grow: 1;
}

.gitLink {
  padding-bottom: 1rem;
}

.card a {
  text-decoration: none;
  color: inherit;
  transition: 300ms;
}

.card a:hover {
  color: #e94560;
  transition: 300ms;
}
